footer{
    background-color:blue;
    color:white;
    text-align: center;
    padding:15px 20px;
    font-size: 20px;
}
header{
  background-color:blue;
    color:white;
    text-align: center;
    padding:15px 20px;
    font-size: 50px;  
}
body{
    background-color:black;
}
.container {
    width: 80%;
    margin: auto;
    padding: 40px 0;
    text-align: left;
}
h1 {
    text-align: left;
}
.btn {
    display:flex-start;
    padding: 8px 20px;
    background: #0072ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    width:fit-content;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    width: 50%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
#carouselExampleIndicators .carousel-item img {
  height: 500px;        
  object-fit: cover;    
}
.my-custom-card{
    max-width: 1500px;
    max-height: 500px;
    overflow:auto;
}
.feature-wrapper {
  overflow: hidden;
  position: relative;
}

.feature-track {
  display: flex;
  gap: 20px;
 
  animation: scroll 20s linear infinite;
}

.feature-item {
  min-width: 300px;
  flex-shrink: 0;
}

.feature-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

/* Auto sliding animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}